<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<title><%= title %></title>
	<link rel="stylesheet" href='/stylesheets/css/bootstrap.min.css' >
	<link rel="stylesheet" href='/stylesheets/css/font-awesome.min.css' >
	<link rel="stylesheet" href='/stylesheets/css/datepicker3.css' >
	<link rel="stylesheet" href='/stylesheets/css/styles.css' >
	
	<!--Custom Font-->
	<link href="https://fonts.googleapis.com/css?family=Montserrat:300,300i,400,400i,500,500i,600,600i,700,700i" rel="stylesheet">
	
</head>
<body>
	<nav class="navbar navbar-custom navbar-fixed-top" role="navigation">
		<div class="container-fluid">
			<div class="navbar-header">
				<button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#sidebar-collapse"><span class="sr-only">Toggle navigation</span>
					<span class="icon-bar"></span>
					<span class="icon-bar"></span>
					<span class="icon-bar"></span></button>
				<a class="navbar-brand" href="#"><span>Express</span>Node JS</a>
			</div>
		</div>
	</nav>
			
	<div id="sidebar-collapse" class="col-sm-3 col-lg-2 sidebar">
		<div class="profile-sidebar">
			<div class="profile-userpic">
				<img src="http://placehold.it/50/30a5ff/fff" class="img-responsive" alt="">
			</div>
			<div class="profile-usertitle">
				<div class="profile-usertitle-name" style="font-size: 10px;"><%= infoAdmin.name %></div>
				<br>
				<div class="profile-usertitle-status" style="cursor: pointer;"><span class="indicator label-success"></span>Online</div>
	<%  if(typeof infoAdmin !== "undefined") { %>
				<div class="profile-usertitle-status" style="cursor: pointer;"><span class="indicator label-primary"></span><a style="text-decoration: none;" href="/off">Off</a></div>
	<% } %>

			</div>
			<div class="clear"></div>
		</div>
		<div class="divider"></div>
		<form role="search">
			<div class="form-group">
				<input type="text" class="form-control" placeholder="Search">
			</div>
		</form>
		<ul class="nav menu">
			<li class="active"><a href="/"><em class="fa fa-dashboard">&nbsp;</em> Dashboard</a></li>
			<li><a href="/category"><em class="fa fa-calendar">&nbsp;</em> Category</a></li>
			<li><a href="/list-product"><em class="fa fa-bar-chart">&nbsp;</em> Product</a></li>
			<li><a href=""><em class="fa fa-toggle-off">&nbsp;</em> UI Elements</a></li>
			<li><a href=""><em class="fa fa-clone">&nbsp;</em> Alerts &amp; Panels</a></li>
			<li class="parent "><a data-toggle="collapse" href="#sub-item-1">
				<em class="fa fa-navicon">&nbsp;</em> Multilevel <span data-toggle="collapse" href="#sub-item-1" class="icon pull-right"><em class="fa fa-plus"></em></span>
				</a>
				<ul class="children collapse" id="sub-item-1">
					<li><a class="" href="#">
						<span class="fa fa-arrow-right">&nbsp;</span> Sub Item 1
					</a></li>
					<li><a class="" href="#">
						<span class="fa fa-arrow-right">&nbsp;</span> Sub Item 2
					</a></li>
					<li><a class="" href="#">
						<span class="fa fa-arrow-right">&nbsp;</span> Sub Item 3
					</a></li>
				</ul>
			</li>
			<li><a href="login.html"><em class="fa fa-power-off">&nbsp;</em> Logout</a></li>
		</ul>
	</div>
